h1 {
  text-indent: 20px;
  border-radius: 25px;
  border-bottom: 5px solid rgb(33, 152, 173);
  margin: auto;
  width: 50%;
  padding-top: 70px;
  padding-bottom: 30px;
  color: #003b36;
}

h2 {
  padding: 10px;
  color: #003b36;
}

.form-group {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#form-row {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form {
  margin: auto;
  border-radius: 25px;
  border: 3px solid rgb(33, 152, 173);
  padding: 50px;
  width: 400px;
  height: 400px;
}

.curr {
  border-radius: 25px;
  background-color: #bae0cc;
  margin: auto;
  text-align: center;
  padding: 20px;
  color: #003b36;
}

.db {
  border-top: 5px solid rgb(33, 152, 173);
  margin: auto;
  padding: 20px;
  border-radius: 25px;
}

thead {
  border-top: 3px solid rgb(33, 152, 173);
  margin: auto;
  background-color: #bae0cc;
  color: #012622;
}

.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
}