{% extends "base.html" %}

{% block content %}
<div class="container">
    <div id="form-row" class="row input-form">
        <div class="d-flex p-2">
            <div class="myform form ">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.origin.label }} <br>
                        {{ form.origin(class="form-group") }}
                    </p>
                    <p>
                        {{ form.destination.label }} <br>
                        {{ form.destination(class="form-group") }}
                    </p>
                    <p>{{ form.submit(class="button") }}</p>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="curr">
            {% if current is defined %}
            <div>
                <p>{{ current.origin }} to {{ current.destination }} &rArr; {{ current.distance }},
                    {{ current.travel_time }} </p>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row d-flex p-2">
        <div class="db">
            <h2>Past calculations:</h2>
            <form action="/clear/" method="post">
                <button name="clearDbBtn" class="button" type="submit">Clear All</button>
            </form><br>
            <table class="table table-striped">
                <thead>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Distance</th>
                    <th>Travel Time</th>
                </thead>
                <tbody>
                    {% for entry in display %}
                    <tr>
                        <td>{{ entry.origin }}</td>
                        <td>{{ entry.destination }}</td>
                        <td>{{ entry.distance }}</td>
                        <td>{{ entry.travel_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}